node_modules/
package-lock.json
tripadvisor-gallery-server/node_modules/
tripadvisor-gallery-server/config.js
tripadvisor-gallery-server/db/aws-S3/pictures/
tripadvisor-gallery-server/coverage/
tripadvisor-gallery-server/client/dist/bundle.js
tripadvisor-gallery-server/package-lock.json
tripadvisor-itenerary-server/node_modules/
tripadvisor-itenerary-server/package-lock.json
tripadvisor-itenerary-server/dist
tripadvisor-itenerary-server/coverage/
tripadvisor-itenerary-server/config.js
tripadvisor-reviews-server/node_modules/
tripadvisor-reviews-server/test/__snapshots__/
tripadvisor-reviews-server/test/tests_output/
tripadvisor-reviews-server/client/clientGetReq.js
tripadvisor-reviews-server/client/dist/bundle.js
tripadvisor-reviews-server/helpers/testFilter.js
tripadvisor-reviews-server/chromedriver.log
tripadvisor-reviews-server/details/
tripadvisor-reviews-server/geckodriver.log
tripadvisor-reviews-server/package-lock.json
tripadvisor-reviews-server/temp.js
tripadvisor-reviews-server/UML.jpg
tripadvisor-reviews-server/UML.mdj
tripadvisor-travelers-server/node_modules/
tripadvisor-travelers-server/client/dist/bundle.js
tripadvisor-travelers-server/db/config.js
tripadvisor-travelers-server/coverage/
